<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <title>abelista MEAN plus</title>
    <!-- external CSS links -->
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
     <!-- Bootstrap / Ladda / font awesome / animate  -->
    <link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/libs/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
<!--<link rel="stylesheet" href="/assets/css/style.min.css"> -->

</head>
  <body>
    
    <div id="container">
     
     <header>
      <div class="jumbotron">
        <div class="container" ng-init="title='Angular';
        dope=true;">
       
         <h2>{{ title }} is Dope: {{dope}}</h2>

          <input type="text"
                 placeholder="type here"
                 class="form-control"
                 ng-model="title"/>


          <p>
           <a class="btn btn-primary btn-lg">Push</a>
          </p>
       </div>
      </div>
    </header>


        <footer>
           <div class="col-md-4">
            <i class="fa fa-database fa-3x"></i> Runs on MongoDB
          </div>  
        </footer>
    

    </div><!-- #container -->

<!-- Angular JS-->
<script src="assets/libs/angular/angular.min.js"></script>
<script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- Angular Auto Validate-->
<script src="/assets/libs/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
<!-- <script src="js/app.js"></script>-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- LADDA SCRIPTS -->
<script src="/assets/libs/ladda/dist/spin.min.js"></script>
<script src="/assets/libs/ladda/dist/ladda.min.js"></script>
<script src="/assets/libs/angular-ladda/dist/angular-ladda.min.js"></script>

</body>

</html>


<!-- 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

