

    <!-- my update style sheet -->
<link rel="stylesheet" href="stylesheets/main.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/libs/easing/jquery.easing.1.3.min.js"></script>
<script src="js/main.js"></script>

<div class="container">
  
 

    <div id="mobile">

     <h1 class="my-name row voffset5 text-center">Abel Hernandez</h1>
     <h1 class="my-tpm text-center">technical product manager</h1>
     <!-- <h2>Technical Product Manager</h2> -->

<!--     <h2 class="aboutme-intro" id="ready">READY</h2><h2 class="aboutme-intro" id="willing">WILLING</h2>
    <h2 class="aboutme-intro" id="and">and</h2>
    
    <h1 class="aboutme-intro" id="abel">ABEL</h1>
    <h2 class="aboutme-intro" id="fswd">FULL STACK WEB DEVELOPER</h2> -->
    </div>

    <div id="static">
      <h4>abel hernandez</h4>
      <h4>Technical Product Manager</h4>
    </div>

  <div class="row voffset2 myabouts-intro">  
    <div class="col-sm-12">
     <p class="myabouts voffset2">
  Welcome to my page. I originally build this in September 2015 while I was searching for my first Web Developer position. A lot has changed since then. <br>I have transiton into Product Management and I will build a new web page to share my new journey and keep everyone updated on my projects. 
     </p>
   </div>
  </div>     

<section id="slider" class="carousel slide voffset15" data-ride="carousel">
  <div class="carousel-inner">

    <div class="item active">
     <img src="img/abel03.jpg">
    </div>

    <div class="item">
     <img src="img/abel05.jpg">
    </div>

    <div class="item">
      <img src="img/abel06.jpg">
    </div>

    <div class="item">
      <img src="img/abel04.jpg">
    </div>

    <div class="item">
      <img src="img/abel01.jpg">
    </div>

    <div class="item">
     <img src="img/abel08.jpg">
    </div>

  </div>
    <a class="left carousel-control" data-target="#slider" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#slider" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
       <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
        <li data-target="#slider" data-slide-to="3"></li>
       <li data-target="#slider" data-slide-to="4"></li>
      <li data-target="#slider" data-slide-to="5"></li>
    </ol>

  </section>

<!--   <div class="row voffset5">  
    <div class="col-sm-12">
     <p class="myabouts voffset2">
      Aside from my new found passion for tech I've had a great run living out some of my dreams through music and traveling. After I finished college for Audio Engineering I came to LA to find as many producers and artist that worked with Tupac Shakur. I wanted to help finish the remaining music for his posthumous upcoming albums and even though that didn't quite happen I met and collaborated on other music projects with people who knew and worked with him. 
     </p> 
     
     <p class="myabouts voffset2">
      Photography and my curiosity have taken me to 25 countries so far. As much as I don't like to say I have favorites, I do! At the top of my list are Indonesia a close second is Brazil <i>(Você fala Português? Falo sim!)</i> and the third? I can tell you about it when we meet to discuss your next appproject or career opportunity!
     </p>
   </div>
  </div> -->

<footer class="voffset7">
    <div class="contact-me">
<!--         <div class="my-titles voffset2">
            <h5>CONTACT ME</h5></div> -->
        <div class="row footer-row">

            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1" id="github">
                <a href="mailto:auxhernandez@mac.com">
                    <i class="fa fa-envelope fa-3x"></i>
                </a>
            </div>
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1" id="linkedin">
                <a href="https://www.linkedin.com/in/abelahernandez">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                </a>
            </div>
            
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1" id="email">
                <a href="https://github.com/shotbyabel">
                    <i class="fa fa-github-alt fa-3x"></i>
                </a>
            </div>

            <div class="col-xs-3 col-sm-1  col-md-1 col-lg-1">
                <a href="https://angel.co/abel-alejandro-hernandez">
                    <i class="fa fa-angellist fa-3x"></i>
                </a>
            </div>            

        </div>
</footer>  


</div> <!-- page containter  -->


