

    <!-- my update style sheet -->
<link rel="stylesheet" href="stylesheets/main.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/libs/easing/jquery.easing.1.3.min.js"></script>
<script src="js/main.js"></script>

<div class="container">
    <div id="mobile">
    <h2 class="aboutme-intro" id="ready">READY</h2><h2 class="aboutme-intro" id="willing">WILLING</h2>
    <h2 class="aboutme-intro" id="and">and</h2>
    
    <h1 class="aboutme-intro" id="abel">ABEL</h1>
    <h2 class="aboutme-intro" id="fswd">FULL STACK WEB DEVELOPER</h2>
    </div>

    <div id="static">
      <h3>ABEL</h3>
      <h3>Web Developer</h3>
    </div>

  <div class="row voffset5 myabouts-intro">  
    <div class="col-sm-12">
     <p class="myabouts voffset2">
      I officially entered web development in June of 2015 and I am excited to bring with me over 12 years of real world professional experience to my new career and journey to become a full stack web developer. From June to September I commited my self to General Assembly's Immersive bootcamp, Monday to Friday and averaging over 55 hours a week. The experience has been one of the most intense but rewarding of my life. Since October of 2015 I began working for a couple start ups full time and I am looking forward to continue learning, building innovative apps for you or with a team!
     </p>
   </div>
  </div>     

<section id="slider" class="carousel slide voffset15" data-ride="carousel">
  <div class="carousel-inner">

    <div class="item active">
     <img src="img/abel03.jpg">
    </div>

    <div class="item">
     <img src="img/abel05.jpg">
    </div>

    <div class="item">
      <img src="img/abel06.jpg">
    </div>

    <div class="item">
      <img src="img/abel04.jpg">
    </div>

    <div class="item">
      <img src="img/abel01.jpg">
    </div>

    <div class="item">
     <img src="img/abel07.jpg">
    </div>

  </div>
    <a class="left carousel-control" data-target="#slider" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#slider" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
       <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
        <li data-target="#slider" data-slide-to="3"></li>
       <li data-target="#slider" data-slide-to="4"></li>
      <li data-target="#slider" data-slide-to="5"></li>
    </ol>

  </section>

  <div class="row voffset5">  
    <div class="col-sm-12">
     <p class="myabouts voffset2">
      Aside from my new found passion for tech I've had a great run living out some of my dreams through music and traveling. After I finished college for Audio Engineering I came to LA to find as many producers and artist that worked with Tupac Shakur. I wanted to help finish the remaining music for his posthumous upcoming albums and even though that didn't quite happen I met and collaborated on other music projects with people who knew and worked with him. 
     </p> 
     
     <p class="myabouts voffset2">
      Photography and my curiosity have taken me to 25 countries so far. As much as I don't like to say I have favorites, I do! At the top of my list are Indonesia a close second is Brazil <i>(Você fala Português? Falo sim!)</i> and the third? I can tell you about it when we meet to discuss your next appproject or career opportunity!
     </p>
   </div>
  </div>

<footer class="voffset7">
    <div class="contact-me">
        <div class="my-titles voffset2">
            <h5>CONTACT ME</h5></div>
        <div class="row">
            <div class="col-xs-4 col-sm-1 col-md-1 col-lg-1" id="github">
                <a href="mailto:auxhernandez@mac.com">
                    <i class="fa fa-envelope fa-3x"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-1 col-md-1 col-lg-1" id="linkedin">
                <a href="https://www.linkedin.com/in/abelahernandez">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-1 col-md-1 col-lg-1" id="email">
                <a href="https://github.com/shotbyabel">
                    <i class="fa fa-github-alt fa-3x"></i>
                </a>
            </div>
            <!--       <div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0 voffset2">
          <p class="copyright text-right">
            this is a MEAN stack application made by Abel A Hernandez
          </p>
      </div> -->
        </div>
</footer>  



</div> <!-- page containter  -->


