

    <!-- my update style sheet -->
<link rel="stylesheet" href="stylesheets/main.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/libs/easing/jquery.easing.1.3.min.js"></script>
<script src="js/main.js"></script>

<div class="container">
    <div id="mobile">
    <h2 class="aboutme-intro" id="ready">READY</h2><h2 class="aboutme-intro" id="willing">WILLING</h2>
    <h2 class="aboutme-intro" id="and">and</h2>
    
    <h1 class="aboutme-intro" id="abel">ABEL</h1>
    <h2 class="aboutme-intro" id="fswd">Jr. FULL STACK WEB DEVELOPER</h2>
    </div>

    <div id="static">
      <h3>ABEL</h3>
      <h3>jr. Full Stack Web Developer</h3>
    </div>

<section id="slider" class="carousel slide voffset15" data-ride="carousel">
  <div class="carousel-inner">

    <div class="item active">
     <img src="img/abel03.jpg">
    </div>

    <div class="item">
     <img src="img/abel02.jpg">
    </div>

    <div class="item">
     <img src="img/abel05.jpg">
    </div>

    <div class="item">
      <img src="img/abel06.jpg">
    </div>


    <div class="item">
      <img src="img/abel04.jpg">
    </div>

    <div class="item">
      <img src="img/abel01.jpg">
    </div>

  </div>

    <a class="left carousel-control" data-target="#slider" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#slider" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
       <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
        <li data-target="#slider" data-slide-to="3"></li>
       <li data-target="#slider" data-slide-to="4"></li>
      <li data-target="#slider" data-slide-to="5"></li>
    </ol>

  </section>

  <div class="row voffset5">
  
    <div class="col-sm-12">

     <p class="myabouts voffset2">
      I officially entered tech and web development in May of 2015 and I am excited to bring with me over 12 years of real world professional experience to my new career as a full stack web developer. From June to September I commited my self to General Assembly's Immersive bootcamp, Monday to Friday and averaging over 55 hours a week. The experience has been one of the most intense but rewarding of my life. I am looking forward to continue learning, building innovative and cool apps for you or along with you!
     </p> 
     
     <p class="myabouts voffset2">
      Aside from my new found passion for tech I've had a great run living out some of my dreams through music and traveling. After I finished college for Audio Engineering I came to LA to find as many producers and artist that worked with Tupac Shakur. I wanted to help finish the remaining music for his posthumous upcoming albums and even though that didn't quite happen I did meet and collaborated on other music projects with people who knew and worked with him. 
     </p> 

     <p class="myabouts voffset2">
      Photography and my curiosity have taken me to 25 countries so far. As much as I don't like to say I have favorites, I do! At the top of my list is Indonesia a close second is Brazil (Você fala Português? Falo sim!) and the third? I can tell you about it when we meet to discuss your next project!
     </p>



   </div>
  </div>
</div> 


