
    <!-- my update style sheet -->
    <link rel="stylesheet" href="stylesheets/main.css">

<div class="container">


  <div class="contact-me text-center voffset15">
 
        <div id="email">
     <a href="mailto:auxhernandez@mac.com">
      <i class="fa fa-envelope fa-5x"></i>
     </a>
    <p> EMAIL </p> 
    </div>

        <div id="github">
     <a href="https://github.com/shotbyabel"> 
      <i class="fa fa-github-alt fa-5x"></i>

     </a>
     <p> GitHub Repo </p>  
  </div>

    <div id="linkedin">
     <a href="https://www.linkedin.com/in/abelahernandez"> 
      <i class="fa fa-linkedin-square fa-5x"></i>
     </a>
     <p> Linkedin PROFILE </p> 
    </div>


 
  </div>










</div>

