
    <!-- my update style sheet -->
<link rel="stylesheet" href="stylesheets/main.css">
<script src="js/main.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>


<div class="container">
  <h1 class="my-titles row voffset5 text-center" id="dev-font">Web Development</h1>
   <p class="myabouts voffset5">   
      Since November I've been working with a Hollywood start-up developing 3 applications for the luxury transport industry. The technologies and languages I am currently using for this work are: AngularJS, Ionic Framework for iOS & Android mobile development, PHP with Laravel framework, MYSQL database. CSS, HTML & JavaScript. My long term goal is to become a Full Stack JavaScript Developer.</p>

      <p class="myabouts voffset5">Below are some early projects I was developing towards the end of General Assembly and within the first month I finished their web development bootcamp. The current apps I am working are on <b>private</b> repositories and there for can't be viewed however I can take screen shots of my code activity/contribution upon request.</p>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
         <h3>MEAN Stack Apps <a href="https://github.com/shotbyabel/street_eARTh_db_Project4"><i class="fa fa-github-alt fa-2x"></i></a></h3>
          <iframe src="https://player.vimeo.com/video/142106343" width="560" height="341" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          
        </div>
        
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h3>AngularJS <a href="https://github.com/shotbyabel/Angular_FormValidation/tree/master"><i class="fa fa-github-alt fa-2x"></i></a></h3>
          <iframe src="https://player.vimeo.com/video/142107772" width="560" height="341" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div> 
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
         <h3>ionic: Mobile Chat App <a href="https://github.com/shotbyabel/chatApp_ionic"><i class="fa fa-github-alt fa-2x"></i></a></h3>

           <iframe src="https://player.vimeo.com/video/142109304" width="560" height="341" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h3>Photo Memory Game <a href="https://github.com/shotbyabel/Abel_Photographic_Memory_Game"><i class="fa fa-github-alt fa-2x"></i></a></h3>

          

          <iframe src="https://player.vimeo.com/video/142104212" width="560" height="341" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div> 
      </div>

  <section class="row voffset5">
    <h2 class="my-titles text-center" id="photo-title">Photography</h2>
      <p>   
        Towards the end of 2008 I picked up a new hobbie, Digital Photography. As I was trying to find my way into Sound for Film at Warner Bros. I managed to buy a Canon DSLR and take photographes of artist in the studio or performing. Quickly my good eye and composition garner me opportunities to shoot for entertainment industry events and studios. Later on my curiosity for bigger challanges took my camera and I to France, Thailand, Indonesia, England, Estonia and Brazil to new a few places I've had the privildge to shoot their famoous landmarks and natural landscapes.
      </p>

   <section id="screenshots" class="screenshots row voffset5">
      <h4 class="text-center text-uppercase">selected works</h4>
    
    <div class="container">
      <div class="row">
         <div class="col-sm-4 animation1">
            <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto01.jpg"> 
             <img class="img-responsive" src="img/myphoto01.jpg" alt-"">
            </a>    
         </div>   
         <div class="col-sm-4 animation2">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto02.jpg"> 
             <img class="img-responsive" src="img/myphoto02.jpg">
           </a>    
         </div>
         
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto03.jpg"> 
             <img class="img-responsive" src="img/myphoto03.jpg">
           </a>    
         </div>
                  
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto04.jpg"> 
             <img class="img-responsive" src="img/myphoto04.jpg">
           </a>    
         </div>
             
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto05.jpg"> 
             <img class="img-responsive" src="img/myphoto05.jpg">
           </a>    
         </div>
             
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto06.jpg"> 
             <img class="img-responsive" src="img/myphoto06.jpg">
           </a>    
         </div>

         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto07.jpg"> 
             <img class="img-responsive" src="img/myphoto07.jpg">
           </a>    
         </div>

         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto08.jpg"> 
             <img class="img-responsive" src="img/myphoto08.jpg">
           </a>    
         </div>

         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto09.jpg"> 
             <img class="img-responsive" src="img/myphoto09.jpg">
           </a>    
         </div>
     </div> <!--row-->
    </div> <!--container screenshots-->      

    <div id="modal" class="modal fade" tabIndex="-1" role="dialog" aria-labelledvt="modal" aria-hidden="true">
      <div class="modal-body text-center">
        <img src="#">
          <span><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></span>   
      </div>
    </div>
    </section>
  </section>  <!-- whole photo section  -->


  <section class="row voffset5">
    <h2 class="my-titles text-center" id="sound-music">Sound Engineering & Music Production</h2>
      <p>   
        I am not afraid to admit that I didn't realized all of my music industry ambitions. From 2001 to 2011 I dedicated my professional life to developing my sound, mixing and production skills. I wanted to be a Music Producer and I am perfectly at peace with that goal not materialzing. I don't consider it a failure because I never game up. I discover a new vision and escape that's photography and now my new passion in Web Development. I learned a lot in the music industry and have some of the best stories that would have you laughing for days or make your jaw drop! I am still very well connected in this industry and could faciliate any music project. Here are some links to some music I either engineered, mixed, produce or help write. Cheers! 

      </p>

  <section id="musics">
      <iframe class="row voffset5" width="100%" height="450" scrolling="yes" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/8491184&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

      <iframe class="row voffset5" width="100%" height="265" scrolling="yes" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_947853?widget_id=55&pwc[included_songs]=1&spoid=artist_947853&pwc[size]=small" style="width:0px;min-width:100%;max-width:100%;"></iframe>
    </section>  
</section>

<!--   <footer class="voffset7">
    <div class="contact-me">
      <div class="my-titles voffset2"><h3>CONTACT ME</h3></div>

      <div class="row">
       <div class="col-sm-1 col-md- col-lg-1" id="github">
          <a href="mailto:auxhernandez@mac.com">
            <i class="fa fa-envelope fa-3x"></i>
          </a>  
       </div>

       <div class="col-sm-1 col-md-1 col-lg-1" id="linkedin">
         <a href="https://www.linkedin.com/in/abelahernandez"> 
          <i class="fa fa-linkedin-square fa-3x"></i>
        </a> 
       </div>

      <div class="col-sm-2 col-md-1 col-lg-1" id="email">
        <a href="https://github.com/shotbyabel"> 
         <i class="fa fa-github-alt fa-3x"></i>
        </a> 
      </div>

      <div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0 voffset2">
          <p class="copyright text-right">
            this is a MEAN stack application made by Abel A Hernandez
          </p>
      </div>
    </div>
  </footer>
 -->
      
</div> <!-- doc container -->

