
    <!-- my update style sheet -->
<link rel="stylesheet" href="stylesheets/main.css">
 <script src="js/main.js"></script>

<div class="container">
  <h2>Web Development</h2>
   <p>   
      I have no trouble admiting that after having a career as a audio engineer, photographer and music company manager Web Development is by far the most challenging yet exciting of my endevours. Through my works you will find that I am particuarly passionate towards the MEAN Stack, (MongodDB, ExpressJS, AngularJS & NodeJS). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
         <h3>MEAN Stack Apps <a href="https://github.com/shotbyabel/street_eARTh_db_Project4"><i class="fa fa-github-alt fa-2x"></i></a></h3>
          <iframe src="https://player.vimeo.com/video/142106343" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          
        </div>
        
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3>Angular JS <a href="https://github.com/shotbyabel/Angular_FormValidation/tree/master"><i class="fa fa-github-alt fa-2x"></i></a></h3>
          <iframe src="https://player.vimeo.com/video/142107772" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div> 
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
         <h3>ionic Mobile Chat App <a href="https://github.com/shotbyabel/chatApp_ionic"><i class="fa fa-github-alt fa-2x"></i></a></h3>

           <iframe src="https://player.vimeo.com/video/142109304" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3>Photo Memory Game <a href="https://github.com/shotbyabel/Abel_Photographic_Memory_Game"><i class="fa fa-github-alt fa-2x"></i></a></h3>

          

          <iframe src="https://player.vimeo.com/video/142104212" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div> 
      </div>

    <h2>Photography</h2>
      <p>   
      I have no trouble admiting that after having a career as a audio engineer, photographer and music company manager Web Development is by far the most challenging yet exciting of my endevours. Through my works you will find that I am particuarly passionate towards the MEAN Stack, (MongodDB, ExpressJS, AngularJS & NodeJS). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

   <section id="screenshots" class="screenshots">
      <h3 class="text-center text-uppercase">photos</h3>
    
    <div class="container">
      <div class="row">
         <div class="col-sm-4 animation1">
            <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto01.jpg"> 
             <img class="img-responsive" src="img/myphoto01.jpg" alt-"">
            </a>    
         </div>   
         <div class="col-sm-4 animation2">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto02.jpg"> 
             <img class="img-responsive" src="img/myphoto02.jpg">
           </a>    
         </div>
         
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto03.jpg"> 
             <img class="img-responsive" src="img/myphoto03.jpg">
           </a>    
         </div>
                  
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto04.jpg"> 
             <img class="img-responsive" src="img/myphoto04.jpg">
           </a>    
         </div>
             
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto05.jpg"> 
             <img class="img-responsive" src="img/myphoto05.jpg">
           </a>    
         </div>
             
         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto06.jpg"> 
             <img class="img-responsive" src="img/myphoto06.jpg">
           </a>    
         </div>

         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto07.jpg"> 
             <img class="img-responsive" src="img/myphoto07.jpg">
           </a>    
         </div>

         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto08.jpg"> 
             <img class="img-responsive" src="img/myphoto08.jpg">
           </a>    
         </div>

         <div class="col-sm-4 animation3">
           <a data-target="#modal" data-toggle="modal" data-image-url="img/myphoto09.jpg"> 
             <img class="img-responsive" src="img/myphoto09.jpg">
           </a>    
         </div>
     </div> <!--row-->
    </div> <!--container screenshots-->      

    <div id="modal" class="modal fade" tabIndex="-1" role="dialog" aria-labelledvt="modal" aria-hidden="true">
      <div class="modal-body text-center">
        <img src="#">
          <span><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></span>   
      </div>
    </div>


    </section>  


    <h2>Sound Engineering & Music Production</h2>
      <p>   
      I have no trouble admiting that after having a career as a audio engineer, photographer and music company manager Web Development is by far the most challenging yet exciting of my endevours. Through my works you will find that I am particuarly passionate towards the MEAN Stack, (MongodDB, ExpressJS, AngularJS & NodeJS). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      



























  </div> <!-- doc container -->

