
<div class="container">
  <h2>Portfolio</h2>
   <p>   
      I have no trouble admiting that after having a career as a audio engineer, photographer and music company manager Web Development is by far the most challenging yet exciting of my endevours. Through my works you will find that I am particuarly passionate towards the MEAN Stack, (MongodDB, ExpressJS, AngularJS & NodeJS). Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <div class="row">
         <div class="col-sm-6 col-md-6 col-lg-6">
         <h3>MEAN Stack Apps</h3>
         <iframe src="https://player.vimeo.com/video/142106343" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          


         </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3>Angular JS</h3>

          <iframe src="https://player.vimeo.com/video/142107772" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


        </div> 
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
         <h3>ionic Mobile Chat App</h3>

           <iframe src="https://player.vimeo.com/video/142109304" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3>Photo Memory Game</h3>
          

          <iframe src="https://player.vimeo.com/video/142104212" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div> 
      </div>

      



























  </div> <!-- doc container -->

