
    <!-- my update style sheet -->
    
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>
    <script src="js/downloadController.js"></script>
    <script src="/assets/libs/greensock-js/src/minified/TweenMax.min.js"></script>
    

<div class="container">

<div class="row voffset7">
  <p class="myabouts">I first developed an interest for programming during a coding workshop in 2014. The realization that I could contribute the knowledge and experience I gained from twelve years in the Entertainment industry to the tech world and take part in creating new services and products that would positively impact people’s lives motivated me to dive into web development full-time and now Product Management</p>
</div>
<!-- THIS IS THE LINK IN QUESTION..  -->
<!--   <div class="text-center">
      <a ui-sref="/download" class="btn btn-primary">Download Resume</a>
  </div> -->
<!-- THIS IS THE LINK IN QUESTION..  -->
<div class="my-titles text-center voffset7"><h3>PROFESSIONAL EXPERIENCE</h3></div>


  <div class="row">
  <div class="col-sm-12">
  <div><h4 class="resume-company">A4C Technologies | KARL Software</h4></div>
  <div><h5>Product Manager</h5></div>         

  <p>Define the product roadmap based on the strategy and vision w/Aha! Software. Manage prioritization & task among customer experience for our Web App, iOS & Android App performance using, Google Analytics, Heap & Apple Analytics. Responsible for sprint planning, story grooming & management of the product life cycle. Write user stories & organize the Backlog w/JIRA & Trello. Composing detailed PRDs, ensuring clear communication of those requirements to the business, design & development teams. Conducting Team Retrospectives.
</p>
  </div>
  </div>
<!-- RESUME FRONT END AND BACK END CIRCLES -->
      <!--     <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="fe-bubble">
        <img id="feBubble" src="/img/feBubble1.png">
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="be-bubble">
        <img id="beBubble" src="/img/beBubble2.png">
        </div>
      </div>
    </div>  -->

  <div class="my-titles text-center voffset7"><h3>Web Development Experience</h3></div>

<!--     <div class="row voffset-130">
    <div class="col-sm-6">
      <div class="stacks1">
        <div>
          <img id="mean" src="/img/mean.png">
          <img id="rails" src="/img/rails.png">
          <img id="postgres" src="/img/postgres.png">
        </div>
      </div>
     </div>

   <div class="col-sm-6">
     <div class="stacks2">
       <div>
         <img id="frontEnd" src="/img/frontEnd.png">
         <img id="angular" src="/img/angular.png">
         <img id="jquery" src="/img/jquery.png">
         <img id="ionic" src="/img/ionic.png">
         <img id="bootstrap" src="/img/bootstrap.png">
       </div> 
     </div>
    </div>  
  </div> -->

  <div class="row">
    <div class="col-sm-4">
      <h4 class="resume-company">A4C Technologies</h4><small>current</small>
      <h5>Jr. Web Developer</h5>                  
        </p>Interacting with our team in Paris and China as we implement a dynamic framework like AngularJS to an international business model on the mobile side with Ionic framework and scaling an existing API with PHP functions on the Back End & mysql Database.</p>
    </div>

    <div class="col-sm-4">
     <h4 class="resume-company">Brainitch Technologies</h4><small>October 2015</small>
      <h5>AngularJs Front End Developer </h5>                       
        </p>Using Angular Js dynamic directives my task was to build pages with a couple different forms for user registration and login for a Single Page Application using ui-router. These included custom validation parameters for better UX & send data to the back-end via $http. All responsive and build with pure CSS3.</p>
    </div> 

    <div class="col-sm-4">    
      <h4 class="resume-company">Water Hackathon</h4><small>August 2015</small>
         <h5>Rhubarb Studios</h5>                
        </p>I assisted our team on developing the Front End look of our ‘Water Wars’ app. I used the Materialize CSS framework and created the forms to register and login users with EJS and in conjunction I built the routes on the node.js and Express back-end for these particular views.</p>
     </div>   
   
  </div> <!-- end of web dev projects row   -->     

  <div class="my-titles text-center voffset7"><h3>Other Professional Experience</h3></div>
  <div class="row">
  <div class="col-sm-12">
  <div><h4 class="resume-company">Capital Audio & Royal Z Entertainment</h4></div>
  <div><h5>Operations Manager</h5></div>         

  <p>Led accounts receivables in effort to recuperate over $50,000 within 15 months from past due accounts. I establish logistical partnerships w/music studios to expedite rentals & reduce wait times for deliveries. This led to an improved customer experience & allowed us to venture into home studio installs for Kanye West, Justin Beiber, Cher & many others.</p>

  <div><h4 class="resume-company">Warner Bros.</h4></div>
  <div><h5>Lead Audience Coordinator</h5></div>  

  <p>I started as a clerk floater for the Tour Department and assisted managers & tour guides with administrative tasks & soundstage security for the Warner Bros Studio lot. Soon after I began to assist on the Ellen Degeneres show with guest services on the ingress/egress of over 300 people. After a two month tour, the department management appointed me Lead audience coordinator to supervise a team of seven guest services employees to ensure studio safety guidelines are observed while we made sure all of Telepictures’s production requests were met for the tapings of Lopez Tonight & Conan O’brien TV shows.</p>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-12">
  <div><h4 class="resume-company">Viva Vision! </h4></div>
  <div><h5>PProduct Assistant (Spanish Linguist)</h5></div>          

  <p>My initial duties were to translate mobile app content into Spanish. Brand Managers & Photographers began to entrust me with new responsibilities in which I thrived. This led to PA roles during location & set shoots. Soon after I was responsible for the content management of four mobile apps which included the post production of photographs using Adobe Photoshop, and uploading and entering metadata into contact management system. I was able to improve overall products & maximized revenue by creating new categories & acquiring new content.</p>

  <div><h4 class="resume-company">Paramount Recording Group</h4></div>
  <div><h5>Assistant Studio Manager</h5></div>   

  <p>From the beginning as a studio runner I was liked & trusted by music producers & artist. I ensured all janitorial, administrative & client services task were completed efficiently for all our clients & management. I learned to anticipate clients’ needs & started to reorganize staffs’ priorities & responsibilities, which led to an assistant management position. I was responsible for coordinating many successful recording & mixing sessions under minimal supervision. Here I learned & thrive the most at being a liaison between executives, producers, artists & audio engineers. </p>
  </div>
  </div>


  <div class="my-titles text-center voffset5"><h3>Education & Certifications</h3></div>

    <div class="row">
     <div class="col-sm-6">
      <h4 class="resume-company">RHUBARB STUDIOS</h4>
       <p>Agile Foundations Certificate</p>
     </div>   
  
    <div class="col-sm-6">
     <h4 class="resume-company">PRODUCT SCHOOL</h4>
      <p>Software Product Manager Certifcation</p>
    </div>
    </div>

    <div class="row">
     <div class="col-sm-6">
      <h4 class="resume-company">GENERAL ASSEMBLY</h4>
       <p>Web Development Immersive Program & Front End Development</p>
     </div>   
  
    <div class="col-sm-6">
     <h4 class="resume-company">FULL SAIL UNIVERSITY</h4>
      <p>Associate of Science in Audio Engineering</p>
    </div>
    </div>
    
<div class="my-titles text-center voffset7"><h3>Other Skills</h3></div>
  <div class="row voffset2">
    <div class="col-sm-4">
      <p>
      <h4>Photography & Video:</h4> Adobe Premiere & Photoshop, Canon 5D full frame Camera, Canon Lens and flash/lights remote accessories.
      </p>
    </div>

  <div class="col-sm-4">
    <p>
      <h4>Audio Engineering:</h4> Pro Tools HD, Vintage and Modern Microphone techniques, Multi-track consoles & digital effects processors.
      </p>
  </div>

  <div class="col-sm-4">
    <p>
      <h4>Language & Culture:</h4> Proficient in Spanish and conversational Portuguese. Self-reliant and independent with cultural competence.
      </p>
  </div>
  </div> <!-- other skills row -->



<footer class="voffset7">
    <div class="contact-me">
<!--         <div class="my-titles voffset2">
            <h5>CONTACT ME</h5></div> -->
        <div class="row footer-row">

            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1" id="github">
                <a href="mailto:auxhernandez@mac.com">
                    <i class="fa fa-envelope fa-3x"></i>
                </a>
            </div>
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1" id="linkedin">
                <a href="https://www.linkedin.com/in/abelahernandez">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                </a>
            </div>
            
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1" id="email">
                <a href="https://github.com/shotbyabel">
                    <i class="fa fa-github-alt fa-3x"></i>
                </a>
            </div>

            <div class="col-xs-3 col-sm-1  col-md-1 col-lg-1">
                <a href="https://angel.co/abel-alejandro-hernandez">
                    <i class="fa fa-angellist fa-3x"></i>
                </a>
            </div>            

        </div>
</footer>     

<!--   <footer class="voffset7">
    <div class="contact-me">
      <div class="my-titles voffset2"><h3>CONTACT ME</h3></div>

      <div class="row">
       <div class="col-sm-1 col-md- col-lg-1" id="github">
          <a href="mailto:auxhernandez@mac.com">
            <i class="fa fa-envelope fa-3x"></i>
          </a>  
       </div>

       <div class="col-sm-1 col-md-1 col-lg-1" id="linkedin">
         <a href="https://www.linkedin.com/in/abelahernandez"> 
          <i class="fa fa-linkedin-square fa-3x"></i>
        </a> 
       </div>

      <div class="col-sm-2 col-md-1 col-lg-1" id="email">
        <a href="https://github.com/shotbyabel"> 
         <i class="fa fa-github-alt fa-3x"></i>
        </a> 
      </div>

      <div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0 voffset2">
          <p class="copyright text-right">
            this is a MEAN stack application made by Abel A Hernandez
          </p>
      </div>
    </div>
  </footer> -->

    
  </div> <!-- END OF CONTAINER-FLUID -->
