
    <!-- my update style sheet -->
    
    <link rel="stylesheet" href="stylesheets/main.css">
        <script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>
    <script src="js/downlController.js"></script>
    <script src="/assets/libs/greensock-js/src/minified/TweenMax.min.js"></script>
    

<div class="container">

<div class="row voffset7">
  <p class="myabouts">I first developed a passion for programming while taking a part-time web development course.  The realization that I could contribute the knowledge and experience I gained from twelve years in the Entertainment industry to the tech world and create new services and products that would positively impact people’s lives motivated me to dive into web development full-time.  Having spent 600+ hours in the last 3 months building web applications, I am confident that my combination of creative and technical skills will contribute positively to your team.</p>
</div>

<div class="text-center">

<a ui-sref="/download" class="btn btn-primary">Download Resume</a>
</div>




  <div class="row voffset-130">
    <div class="col-sm-6">
      <div class="stacks1">
        <div>
          <img id="mean" src="/img/mean.png">
          <img id="rails" src="/img/rails.png">
          <img id="postgres" src="/img/postgres.png">
        </div>
      </div>
     </div>

   <div class="col-sm-6">
     <div class="stacks2">
       <div>
         <img id="frontEnd" src="/img/frontEnd.png">
         <img id="angular" src="/img/angular.png">
         <img id="jquery" src="/img/jquery.png">
         <img id="ionic" src="/img/ionic.png">
         <img id="bootstrap" src="/img/bootstrap.png">
       </div> 
     </div>
    </div>  
  </div>


<!-- RESUME FRONT END AND BACK END CIRCLES -->



    <div class="my-titles text-center voffset7"><h3>Web Development Skills</h3></div>
      
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="fe-bubble">
        <img id="feBubble" src="/img/feBubble.png">
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="be-bubble">
        <img id="beBubble" src="/img/beBubble.png">
        </div>
      </div>
    </div>  


<div class="my-titles text-center voffset7"><h3>Other Skills</h3></div>
  <div class="row voffset7">
    <div class="col-sm-4">
      <p>
      <h4>Photography & Video:</h4> Adobe Premiere & Photoshop, Canon 5D full frame Camera, Canon Lens and flash/lights remote accessories.
      </p>
    </div>

  <div class="col-sm-4">
    <p>
      <h4>Audio Engineering:</h4> Pro Tools HD, Vintage and Modern Microphone techniques, Multi-track consoles & digital effects processors.
      </p>
  </div>

  <div class="col-sm-4">
    <p>
      <h4>Language & Culture:</h4> Proficient in Spanish and conversational Portuguese. Self-reliant and independent with cultural competence.
      </p>
  </div>
  </div> <!-- other skills row -->



  <div class="my-titles text-center voffset7"><h3>Web Development Projects</h3></div>

  <div class="row">
    <div class="col-sm-4">
      <h4>Levy Entertainment</h4>
      <h5>Technical & Design Consultant</h5>                  
        </p>I am facilitating this Beach-front studio in developing an app for their facility as well as for hosting tech events. I am currently developing the front end of their site with Angular JS and bootstrap.</p>
    </div>

    <div class="col-sm-4">    
      <h4>Water Hackathon</h4>
         <h5>Rhubarb Studios</h5>                
        </p>I assisted our team on developing the Front End look of our ‘Water Wars’ app. I used the Materialize CSS framework and created the forms to register and login users with EJS and in conjunction I built the routes on the node.js and Express back-end for these particular views.</p>
     </div>   

    <div class="col-sm-4">
     <h4>Challenge LA</h4>
      <h5>Civic Innovation Lab</h5>                       
        </p>I am a member of a team of 6 for a project that’s currently in pre-production phase. Our app will assist LA residents with parking rules and regulations. Our group will develop this app using the MEAN stack and Ionic for mobile deployment. We will use city data and consume APIs to render real time traffic info.</p>
    </div>    
  </div> <!-- end of web dev projects row   -->

  

  <div class="my-titles text-center voffset7"><h3>Professional Experience</h3></div>
  <div class="row">
  <div class="col-sm-12">
  <div><h4>Capital Audio & Royal Z Entertainment</h4></div>
  <div><h5>Office & Client account Coordinator</h5></div>         

  <p>Originally appointed to be in charge of the collections department. With my efforts the company began to recuperate $50,000 within fifteen months from past due accounts. With this performance, prior technical knowledge & my client relation experience I was promoted to handle our client’s accounts & our office administration. My duties consisted of daily interaction with domestic & international record labels representatives, producers, artist & studio managers. We were trusted with coordinating & facilitating music production/performances of artists like: Kanye West, Dr. Luke and Pharrell Williams, to name a few.</p>

  <div><h4>Warner Bros.</h4></div>
  <div><h5>Lead Audience Coordinator</h5></div>  

  <p>I started as a clerk floater for the Tour Department and assisted managers & tour guides with administrative tasks & soundstage security for the Warner Bros Studio lot. Soon after I began to assist on the Ellen Degeneres show with guest services on the ingress/egress of over 300 people. After a two month tour, the department management appointed me Lead audience coordinator to supervise a team of seven guest services employees to ensure studio safety guidelines are observed while we made sure all of Telepictures’s production requests were met for the tapings of Lopez Tonight & Conan O’brien TV shows.</p>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-12">
  <div><h4>Viva Vision! </h4></div>
  <div><h5>Post Production Assistant & Spanish Linguist</h5></div>          

  <p>I was introduced to photography & began my work as a translator/linguist. My initial duties were to translate mobile app content into Spanish. Brand Managers & Photographers began to entrust me with new responsibilities in which I thrived. This led to PA roles during location & set shoots. Soon after I was responsible for the content management of four mobile apps which included the post production of photographs using Adobe Photoshop, and uploading and entering metadata into contact management system. I was able to improve overall products & maximized revenue by creating new categories & acquiring new content.</p>

  <div><h4>Paramount Recording Group</h4></div>
  <div><h5>Assistant Studio Manager</h5></div>   

  <p>From the beginning as a studio runner I was liked & trusted by music producers & artist. I ensured all janitorial, administrative & client services task were completed efficiently for all our clients & management. I learned to anticipate clients’ needs & started to reorganize staffs’ priorities & responsibilities, which led to an assistant management position. I was responsible for coordinating many successful recording & mixing sessions under minimal supervision. Here I learned & thrive the most at being a liaison between executives, producers, artists & audio engineers. </p>
  </div>
  </div>


  <div class="my-titles text-center voffset7"><h3>Education</h3></div>

    <div class="row">
     <div class="col-sm-6">
      <h4>GENERAL ASSEMBLY</h4>
       <p>Web Development Immersive Program & Front End Development</p>
     </div>   
  
    <div class="col-sm-6">
     <h4>FULL SAIL UNIVERSITY</h4>
      <p>Associate of Science in Audio Engineering</p>
    </div>
  </div> <!-- END OF CONTAINER-FLUID -->
