/*MY CUSTOM STYLES*/


body {
background-color: black;
color: white;  
}

body > section {
  clear: both;
}

.voffset2 { margin-top: 20px; }
.voffset5 { margin-top: 50px; }
.voffset7 { margin-top: 70px; }
.voffset15 { margin-top: 150px; }
.voffset20 { margin-top: 200px; }
.voffset-130 { margin-top: -130px; }

section#slider img {
  margin: 0 auto;
}

.navbar-default {
  opacity: 0.85;
  box-shadow: none;
  background-color: transparent;
  border:none;
  min-height: 40px;
  padding-top: 20px;
  padding: 0px 15px;

}

.nav > li > a {
  font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
  text-transform: uppercase;
  background-color: black;
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
  -webkit-text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;

}

.nav>li>a:hover,
.nav>li>a:focus {
  cursor: pointer;
  background-color: white;
  text-shadow: 3px 1px 2px black;
  -webkit-text-shadow: 3px 1px 2px black;
  -moz-text-shadow: 3px 1px 2px black;

  }

.my-titles {

 font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
 text-transform: uppercase;
 color: #006699;
 font-size: 2.5em;

}

#dev-font {
   font-size: 3.25em;

}

#abel{
  font-size: 3.5em;
}

#fswd{
  font-size: 2.50em;
}

p.myabouts {
  font-size: 1.25em;


}

.aboutme-intro{
font-family: 'Coda Caption', 'Trebuchet MS', 'Tahoma';
text-align: center;

}

#ready{
  position: absolute;
  left:100px; 
  top:60px;

}

#willing{
  display: none;
  position: absolute;
  right:-140px; 
  top:60px;

}

#and{

  position: absolute;
  left:-1150px; 
  top:60px;

}

#abel{
  display: none;
  position: absolute;
  left:-145px; 
  top:90px;

}
#fswd{
  display: none;
  position: absolute;
  left:30%; 
  top:-140px;

}

/*FRONT END and BACK END CIRCLES*/

.stacks1 div{
  float: left;
  width: 100%;
  padding-top: 45%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;

}

img#mean {
  width: 90%;
  line-height: 2em;
  margin-top: -6.5em;
}

img#rails {
  width: 25%;
  line-height: 1em;
  margin-top: -0.5em;
}

img#postgres {
  width: 25%;
  line-height: 1em;
  margin-top: -0.5em;
}

/*DEV STACKS ANIMATIONS*/

.stacks2 div{
  float: right;
  width: 100%;
  padding-top: 45%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;

}

#frontEnd {
    width: 70%;
    line-height: 0em;
    margin-top: -9.5em;
}

#angular {
    width: 29%;
    line-height: 1em;
    margin-top: -1.05em;
}

#jquery {
  width: 22%;
  line-height: 1em;
  margin-top: -0.5em;
}

#ionic {
    width: 19%;
    line-height: 1em;
    margin-top: -2.00em;
    margin-right: -2em;
}

#bootstrap {
    width: 15%;
    line-height: 1em;
    margin-bottom: -1.25em;
    margin-left: 1.0em;

}

/*RESUME FRONT-BACK END CIRCLES*/


#feBubble{

  width: 100%;
}

#beBubble{

  width: 100%;
}


.circle-2{
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit- border-radius: 50%;
  margin: 0 auto ;
}

h2#photo-title:hover,
h2#photo-title:focus {
cursor: pointer;
color: white; 
text-shadow: 3px 1px 2px black;
-webkit-text-shadow: 3px 1px 2px black;
-moz-text-shadow: 3px 1px 2px black;

}

h2#sound-music:hover,
h2#sound-music:focus {
cursor: pointer;
color: white; 
text-shadow: 3px 1px 2px black;
-webkit-text-shadow: 3px 1px 2px black;
-moz-text-shadow: 3px 1px 2px black;

}

footer{
  border-style: solid;
  border-width: 100%;
  border-color: red;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;


}

.copyright{

 font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
 text-transform: uppercase;
 color: green;
 font-size: 1em;

}

/*MEDIA QUERIES*/

@media only screen and (min-width: 100px) and (max-width: 494px){


    #static {
    font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
  }

  div #static h3 {
    font-size: 1.15em;
    margin-top: auto;
    margin-bottom: 0%;

  }

   #mobile{
   display: none; 


  }

}

@media only screen and (min-width: 100px) and (max-width: 449px){


    iframe {
    width: 230px;
    height: 129px;
  }

}

@media only screen and (min-width: 450px) and (max-width: 590px){


  iframe {
    width: 410px;
    height: 281px;
  }

}

@media only screen and (min-width: 495px) and (max-width: 668px){


    #static {
    font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
    text-align: center;
    font-size: 2.25em;
    text-transform: uppercase;
    color: white;
  }

    div #static h3 {
    font-size: 1.50em;
    margin-top: auto;
    margin-bottom: 0%;
  }

   #mobile{
   display: none; 


  }

}

@media only screen and (min-width: 669px) and (max-width: 795px){

    #static {
    display: none;
  }

  #mobile{

  font-size: 10px;
  display: block;
  color: white;
  text-align: center;

  }

  #fswd {
    margin-right: 25%;
    margin-top: 0%;

  }
  
}

@media only screen and (min-width: 796px) and (max-width: 946px){

    #mobile{
    font-size: 12px;
    display: block;
    color: white;

  }

    #static {
    display: none;
  } 

  #fswd {
    margin-left: -10%;

  }

}

@media only screen and (min-width: 947px) and (max-width: 1200px){

    #mobile{
    font-size: 11.5px;
    display: block;
    color: white;

  }

    #static {
    display: none;
  } 

   #fswd {
    margin-left: -5%;

  }

}

@media only screen and (min-width: 1199px) and (max-width: 3000px){

  #static {
  display: none;
  
  } 

}



