/*MY CUSTOM STYLES*/


body {
background-color: black;
color: white;  
}

body > section {
  clear: both;
}

.voffset2 { margin-top: 20px; }
.voffset5 { margin-top: 50px; }
.voffset15 { margin-top: 150px; }
.voffset20 { margin-top: 200px; }

section#slider img {
  margin: 0 auto;
}

.navbar-default {
  opacity: 0.85;
  box-shadow: none;
  background-color: transparent;
  border:none;
  min-height: 40px;
  padding-top: 20px;
  padding: 0px 15px;

}



.nav > li > a {
  font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
  text-transform: uppercase;
  background-color: black;
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
  -webkit-text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;

}

.nav>li>a:hover,
.nav>li>a:focus {

background-color: white;
text-shadow: 3px 1px 2px black;
-webkit-text-shadow: 3px 1px 2px black;
-moz-text-shadow: 3px 1px 2px black;

}

.my-titles {

 font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
 text-transform: uppercase;
 color: #006699;
 font-size: 2.5em;
/* text-shadow: 1px 1px 1px white;
 -webkit-text-shadow: 1px 1px 1px white;
 -moz-text-shadow: 1px 1px 1px white;*/

}

#abel{
  font-size: 3.5em;
}

#fswd{
  font-size: 2.50em;
}

p#mybio {
  font-size: 1.25em;


}

.aboutme-intro{
font-family: 'Coda Caption', 'Trebuchet MS', 'Tahoma';
text-align: center;

}

#ready{
  position: absolute;
  left:100px; 
  top:60px;

}

#willing{
  display: none;
  position: absolute;
  right:-140px; 
  top:60px;

}
#and{
/*  display: none;*/
  position: absolute;
/*  text-align: center;*/
  left:-1150px; 
  top:60px;

}
#abel{
  display: none;
  position: absolute;
  left:-125px; 
  top:90px;

}
#fswd{
  display: none;
  position: absolute;
  left:30%; 
  top:-140px;

}

/*FRONT END and BACK END CIRCLES*/

.fe-circle{
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit- border-radius: 50%;
  margin: 0 auto ;
}

.be-circle{
    width: 100%;
  padding-bottom: 100%;
  background-color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit- border-radius: 50%;
  margin: 0 auto ;
}


}



@media only screen and (min-width: 100px) and (max-width: 668px){

    #mobile{
   position: static;   
   font-size: 8px;
  /* color: green;*/
   text-align: center;

    }

  #fswd{
  left:0%; 

    }

  #abel{
  top:18%;

  }

}

@media only screen and (min-width: 669px) and (max-width: 795px){

  #mobile{

  font-size: 10px;
/*display: block;/*
/**color: red;*/
  text-align: center;


  }

  #abel{
    top:17%;
}

  #fswd{
  left:15%; 

  }

}

@media only screen and (min-width: 796px) and (max-width: 946px){

    #mobile{
    text-align: center;  
    font-size: 12px;
    /*display: block;
/*    color: blue;*/
    
    left: 15%; 

  }

}



