/*MY CUSTOM STYLES*/


body {
background-color: black;
color: white;  
}

body > section {
  clear: both;
}

.voffset2 { margin-top: 20px; }
.voffset5 { margin-top: 50px; }

section#slider img {
  margin: 0 auto;
}

.navbar-default {
  opacity: 0.85;
  box-shadow: none;
  background-color: transparent;
  border:none;
  min-height: 40px;
  padding-top: 20px;
  padding: 0px 15px;

}



.nav > li > a {
  font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
  text-transform: uppercase;
  background-color: black;
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
  -webkit-text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;

}

.nav>li>a:hover,
.nav>li>a:focus {

background-color: white;
text-shadow: 3px 1px 2px black;
-webkit-text-shadow: 3px 1px 2px black;
-moz-text-shadow: 3px 1px 2px black;

}

h2 {

 font-family: 'Coda', 'Trebuchet MS', 'Tahoma';
 text-transform: uppercase;
 color: green;
 font-size: 2.0em;
/* text-shadow: 1px 1px 1px black;
 -webkit-text-shadow: 1px 1px 1px black;
 -moz-text-shadow: 1px 1px 1px black;*/

}

p#mybio {
  font-size: 1.25em;


}



